* {
  padding: 0;
  margin: 0;
}

#main {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #57068c;
  padding: 30px 0px 30px 0px;
  box-shadow: 0px 0px 15px;
  position: fixed;
}

#logo {
  height: 35px;
  width: auto;
}

.header-link {
  color: white;
  font-size: 25px;
  padding-right: 10px;
}

#nav-doc {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 100px 0px 0px 0px;
  font-family: Montserrat, Courier, monospace;
}

#navbar {
  padding: 10px 0px 0px 0px;
  margin: 0px 10px 0px 0px;
  border-right-style: solid;
  border-right-width: 1px;
}

#navbar-header {
  padding-left: 60px;
}

.nav-link {
  display: block;
  padding: 10px 100px 15px 10px;
  margin: 5px 0px 5px 0px;
  border-style: none none solid none;
  border-width: 1px;
  white-space: nowrap;
  color: black;
}

.main-section {
  line-height: 1.5;
}

section > header {
  font-size: 20px;
}

section > h2 {
  font-size: 20px;
  text-decoration: underline;
  padding: 5px 0px 5px 0px;
}

code {
  font-size: 17px;
  background-color: #e6e6e6;
}

@media screen and (max-width: 800px) {
  #main-wrapper {
    display: flex;
    flex-direction: column;
  }
}
